.container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.container div {
  font-size: 30px;
  text-align: center;}
  #team {
    max-width: 1500px;
  }
  #londell {
    max-width: 800px;
  }
   #Tommy1 {
    max-width: 1500px;
  }